In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
csv_path='D:/Learning/DataScience/PlusCourses/DataVisualization/Meteorite/Meteorite_Landings.csv'

In [5]:
df=pd.read_csv(csv_path)

In [6]:
df=df.drop(u'nametype', axis=1)

In [7]:
df=df.drop(u'id', axis=1)

In [8]:
df["index"] = [ i for i in range(len(df["name"]))]

In [9]:
df.set_index(u'name')

,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,index
name,,,,,,,,
Aachen,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775000, 6.083330)",0
Aarhus,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.183330, 10.233330)",1
Abee,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.216670, -113.000000)",2
Acapulco,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.883330, -99.900000)",3
Achiras,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.166670, -64.950000)",4
Adhi Kot,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.100000, 71.800000)",5
Adzhi-Bogdo (stone),LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.833330, 95.166670)",6
Agen,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.216670, 0.616670)",7
Aguada,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.600000, -65.233330)",8
Aguila Blanca,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.866670, -64.550000)",9
Aioun el Atrouss,Diogenite-pm,1000.0,Fell,01/01/1974 12:00:00 AM,16.39806,-9.57028,"(16.398060, -9.570280)",10
AÃ¯r,L6,24000.0,Fell,01/01/1925 12:00:00 AM,19.08333,8.38333,"(19.083330, 8.383330)",11
Aire-sur-la-Lys,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.66667,2.33333,"(50.666670, 2.333330)",12
Akaba,L6,779.0,Fell,01/01/1949 12:00:00 AM,29.51667,35.05000,"(29.516670, 35.050000)",13
Akbarpur,H4,1800.0,Fell,01/01/1838 12:00:00 AM,29.71667,77.95000,"(29.716670, 77.950000)",14
Akwanga,H,3000.0,Fell,01/01/1959 12:00:00 AM,8.91667,8.43333,"(8.916670, 8.433330)",15
Akyumak,"Iron, IVA",50000.0,Fell,01/01/1981 12:00:00 AM,39.91667,42.81667,"(39.916670, 42.816670)",16
Al Rais,CR2-an,160.0,Fell,01/01/1957 12:00:00 AM,24.41667,39.51667,"(24.416670, 39.516670)",17
Al Zarnkh,LL5,700.0,Fell,01/01/2001 12:00:00 AM,13.66033,28.96000,"(13.660330, 28.960000)",18
Alais,CI1,6000.0,Fell,01/01/1806 12:00:00 AM,44.11667,4.08333,"(44.116670, 4.083330)",19
Albareto,L/LL4,2000.0,Fell,01/01/1766 12:00:00 AM,44.65000,11.01667,"(44.650000, 11.016670)",20
Alberta,L,625.0,Fell,01/01/1949 12:00:00 AM,2.00000,22.66667,"(2.000000, 22.666670)",21
Alby sur ChÃ©ran,Eucrite-mmict,252.0,Fell,01/01/2002 12:00:00 AM,45.82133,6.01533,"(45.821330, 6.015330)",22
Aldsworth,LL5,700.0,Fell,01/01/1835 12:00:00 AM,51.78333,-1.78333,"(51.783330, -1.783330)",23
Aleppo,L6,3200.0,Fell,01/01/1873 12:00:00 AM,36.23333,37.13333,"(36.233330, 37.133330)",24
Alessandria,H5,908.0,Fell,01/01/1860 12:00:00 AM,44.88333,8.75000,"(44.883330, 8.750000)",25
Alexandrovsky,H4,9251.0,Fell,01/01/1900 12:00:00 AM,50.95000,31.81667,"(50.950000, 31.816670)",26
Alfianello,L6,228000.0,Fell,01/01/1883 12:00:00 AM,45.26667,10.15000,"(45.266670, 10.150000)",27
Allegan,H5,32000.0,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.533330, -85.883330)",28
Allende,CV3,2000000.0,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.966670, -105.316670)",29
...,...,...,...,...,...,...,...,...
Ysleta,"Iron, ungrouped",140700.0,Found,01/01/1914 12:00:00 AM,31.65000,-106.18333,"(31.650000, -106.183330)",45686
Yucca 015,H-metal,3.0,Found,01/01/2011 12:00:00 AM,34.81970,-114.27610,"(34.819700, -114.276100)",45687
Yucca 016,H5,25.9,Found,01/01/2011 12:00:00 AM,34.82658,-114.27763,"(34.826580, -114.277630)",45688
Yucca 017,H5,200.0,Found,01/01/2011 12:00:00 AM,34.81923,-114.27735,"(34.819230, -114.277350)",45689
Yudoma,"Iron, IVA",7600.0,Found,01/01/1946 12:00:00 AM,60.00000,140.00000,"(60.000000, 140.000000)",45690
Zacatecas (1792),"Iron, ungrouped",1000000.0,Found,01/01/1792 12:00:00 AM,22.81667,-102.56667,"(22.816670, -102.566670)",45691
Zacatecas (1969),"Iron, IIIAB",6660.0,Found,01/01/1969 12:00:00 AM,NaN,NaN,NaN,45692
Zaffra,"Iron, IAB-MG",3000.0,Found,01/01/1919 12:00:00 AM,35.00000,-94.75000,"(35.000000, -94.750000)",45693
Zag (b),Winonaite,300.0,Found,01/01/1999 12:00:00 AM,27.33333,-9.33333,"(27.333330, -9.333330)",45694
Zagora,"Iron, IAB-ung",50000.0,Found,01/01/1987 12:00:00 AM,30.36667,-5.85000,"(30.366670, -5.850000)",45695
ZakÅodzie,Enst achon-ung,8680.0,Found,01/01/1998 12:00:00 AM,50.76278,22.86611,"(50.762780, 22.866110)",45696
Zapaliname,"Iron, IAB-MG",85000.0,Found,01/01/1998 12:00:00 AM,25.00944,-100.75000,"(25.009440, -100.750000)",45697
Zapata County,Iron,NaN,Found,01/01/1930 12:00:00 AM,27.00000,-99.00000,"(27.000000, -99.000000)",45698
ZapotitlÃ¡n Salinas,L4,27.7,Found,01/01/1984 12:00:00 AM,18.33333,-97.50000,"(18.333330, -97.500000)",45699
Zaragoza,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667,"(41.650000, -0.866670)",45700
Zegdou,H3,6700.0,Found,01/01/1998 12:00:00 AM,29.75000,-4.50000,"(29.750000, -4.500000)",45701
Zelfana,L5,1058.0,Found,01/01/2002 12:00:00 AM,32.15833,4.63333,"(32.158330, 4.633330)",45702
Zenda,"Iron, IAB complex",3700.0,Found,01/01/1955 12:00:00 AM,42.51333,-88.48944,"(42.513330, -88.489440)",45703
Zerga,LL6,76.0,Found,01/01/1973 12:00:00 AM,20.25000,-12.68333,"(20.250000, -12.683330)",45704
Zerhamra,"Iron, IIIAB-an",630000.0,Found,01/01/1967 12:00:00 AM,29.85861,-2.64500,"(29.858610, -2.645000)",45705
Zerkaly,H5,16000.0,Found,01/01/1956 12:00:00 AM,52.13333,81.96667,"(52.133330, 81.966670)",45706
Zhaoping,"Iron, IAB complex",2000000.0,Found,01/01/1983 12:00:00 AM,24.23333,111.18333,"(24.233330, 111.183330)",45707
Zhigansk,"Iron, IIIAB",900000.0,Found,01/01/1966 12:00:00 AM,68.00000,128.30000,"(68.000000, 128.300000)",45708
Zhongxiang,Iron,100000.0,Found,01/01/1981 12:00:00 AM,31.20000,112.50000,"(31.200000, 112.500000)",45709
Zillah 001,L6,1475.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037000, 17.018500)",45710
Zillah 002,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037000, 17.018500)",45711
Zinder,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.783330, 8.966670)",45712
Zlin,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.250000, 17.666670)",45713
Zubkovsky,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.789170, 41.504600)",45714
Zulu Queen,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.983330, -115.683330)",45715

In [15]:
df2=df[:]
df2=df2.fillna(0)

In [16]:
df2.rename(columns={'mass (g)': 'mass'}, inplace = True)

In [17]:
gf=[]
for i in range(len(df2.index)):
    seged={}
    for j in range(len(df2.loc[i])):
        seged[df2.columns[j]]=str(df2.loc[i][j])
    gf.append(seged)

In [18]:
import json

In [19]:
file('D:/Learning/DataScience/PlusCourses/DataVisualization/Meteorite/Meteorite_Landings.json','w').write(json.dumps(gf))

In [51]:
json_path='D:/Learning/DataScience/PlusCourses/DataVisualization/Meteorite/Meteorite_Landings.json'

In [52]:
json_path

'D:/Learning/DataScience/PlusCourses/DataVisualization/Meteorite/Meteorite_Landings.json'

In [53]:
ff=pd.read_json(json_path)

In [54]:
ff

,GeoLocation,fall,index,mass,name,recclass,reclat,reclong,year
0,"(50.775000, 6.083330)",Fell,0,21.0,Aachen,L5,50.77500,6.08333,01/01/1880 12:00:00 AM
1,"(56.183330, 10.233330)",Fell,1,720.0,Aarhus,H6,56.18333,10.23333,01/01/1951 12:00:00 AM
2,"(54.216670, -113.000000)",Fell,2,107000.0,Abee,EH4,54.21667,-113.00000,01/01/1952 12:00:00 AM
3,"(16.883330, -99.900000)",Fell,3,1914.0,Acapulco,Acapulcoite,16.88333,-99.90000,01/01/1976 12:00:00 AM
4,"(-33.166670, -64.950000)",Fell,4,780.0,Achiras,L6,-33.16667,-64.95000,01/01/1902 12:00:00 AM
5,"(32.100000, 71.800000)",Fell,5,4239.0,Adhi Kot,EH4,32.10000,71.80000,01/01/1919 12:00:00 AM
6,"(44.833330, 95.166670)",Fell,6,910.0,Adzhi-Bogdo (stone),LL3-6,44.83333,95.16667,01/01/1949 12:00:00 AM
7,"(44.216670, 0.616670)",Fell,7,30000.0,Agen,H5,44.21667,0.61667,01/01/1814 12:00:00 AM
8,"(-31.600000, -65.233330)",Fell,8,1620.0,Aguada,L6,-31.60000,-65.23333,01/01/1930 12:00:00 AM
9,"(-30.866670, -64.550000)",Fell,9,1440.0,Aguila Blanca,L,-30.86667,-64.55000,01/01/1920 12:00:00 AM
10,"(16.398060, -9.570280)",Fell,10,1000.0,Aioun el Atrouss,Diogenite-pm,16.39806,-9.57028,01/01/1974 12:00:00 AM
11,"(19.083330, 8.383330)",Fell,11,24000.0,AÃ¯r,L6,19.08333,8.38333,01/01/1925 12:00:00 AM
12,"(50.666670, 2.333330)",Fell,12,0.0,Aire-sur-la-Lys,Unknown,50.66667,2.33333,01/01/1769 12:00:00 AM
13,"(29.516670, 35.050000)",Fell,13,779.0,Akaba,L6,29.51667,35.05000,01/01/1949 12:00:00 AM
14,"(29.716670, 77.950000)",Fell,14,1800.0,Akbarpur,H4,29.71667,77.95000,01/01/1838 12:00:00 AM
15,"(8.916670, 8.433330)",Fell,15,3000.0,Akwanga,H,8.91667,8.43333,01/01/1959 12:00:00 AM
16,"(39.916670, 42.816670)",Fell,16,50000.0,Akyumak,"Iron, IVA",39.91667,42.81667,01/01/1981 12:00:00 AM
17,"(24.416670, 39.516670)",Fell,17,160.0,Al Rais,CR2-an,24.41667,39.51667,01/01/1957 12:00:00 AM
18,"(13.660330, 28.960000)",Fell,18,700.0,Al Zarnkh,LL5,13.66033,28.96000,01/01/2001 12:00:00 AM
19,"(44.116670, 4.083330)",Fell,19,6000.0,Alais,CI1,44.11667,4.08333,01/01/1806 12:00:00 AM
20,"(44.650000, 11.016670)",Fell,20,2000.0,Albareto,L/LL4,44.65000,11.01667,01/01/1766 12:00:00 AM
21,"(2.000000, 22.666670)",Fell,21,625.0,Alberta,L,2.00000,22.66667,01/01/1949 12:00:00 AM
22,"(45.821330, 6.015330)",Fell,22,252.0,Alby sur ChÃ©ran,Eucrite-mmict,45.82133,6.01533,01/01/2002 12:00:00 AM
23,"(51.783330, -1.783330)",Fell,23,700.0,Aldsworth,LL5,51.78333,-1.78333,01/01/1835 12:00:00 AM
24,"(36.233330, 37.133330)",Fell,24,3200.0,Aleppo,L6,36.23333,37.13333,01/01/1873 12:00:00 AM
25,"(44.883330, 8.750000)",Fell,25,908.0,Alessandria,H5,44.88333,8.75000,01/01/1860 12:00:00 AM
26,"(50.950000, 31.816670)",Fell,26,9251.0,Alexandrovsky,H4,50.95000,31.81667,01/01/1900 12:00:00 AM
27,"(45.266670, 10.150000)",Fell,27,228000.0,Alfianello,L6,45.26667,10.15000,01/01/1883 12:00:00 AM
28,"(42.533330, -85.883330)",Fell,28,32000.0,Allegan,H5,42.53333,-85.88333,01/01/1899 12:00:00 AM
29,"(26.966670, -105.316670)",Fell,29,2000000.0,Allende,CV3,26.96667,-105.31667,01/01/1969 12:00:00 AM
...,...,...,...,...,...,...,...,...,...
70,"(16.666670, 101.183330)",Fell,70,16700.0,Ban Rong Du,"Iron, ungrouped",16.66667,101.18333,01/01/1993 12:00:00 AM
71,"(-6.916670, 107.600000)",Fell,71,11500.0,Bandong,LL6,-6.91667,107.60000,01/01/1871 12:00:00 AM
72,"(27.700000, 76.333330)",Fell,72,15000.0,Bansur,L6,27.70000,76.33333,01/01/1892 12:00:00 AM
73,"(30.400000, 78.200000)",Fell,73,14.0,Banswal,L5,30.40000,78.20000,01/01/1913 12:00:00 AM
74,"(-6.333330, 106.000000)",Fell,74,629.0,Banten,CM2,-6.33333,106.00000,01/01/1933 12:00:00 AM
75,"(43.950000, -0.050000)",Fell,75,6400.0,Barbotan,H5,43.95000,-0.05000,01/01/1790 12:00:00 AM
76,"(41.366670, 2.166670)",Fell,76,0.0,Barcelona (stone),OC,41.36667,2.16667,01/01/1704 12:00:00 AM
77,"(42.383330, -2.500000)",Fell,77,3200.0,Barea,Mesosiderite-A1,42.38333,-2.50000,01/01/1842 12:00:00 AM
78,"(52.733330, 84.083330)",Fell,78,23.2,Barnaul,H5,52.73333,84.08333,01/01/1904 12:00:00 AM
79,"(52.000000, 9.100000)",Fell,79,17.0,Barntrup,LL4,52.00000,9.10000,01/01/1886 12:00:00 AM
80,"(31.616670, 76.800000)",Fell,80,4500.0,Baroti,L6,31.61667,76.80000,01/01/1910 12:00:00 AM
81,"(52.565280, -1.339720)",Fell,81,44000.0,Barwell,L5,52.56528,-1.33972,01/01/1965 12:00:00 AM
82,"(15.783330, -5.900000)",Fell,82,29560.0,Bassikounou,H5,15.78333,-5.90000,01/01/2006 12:00:00 AM
83,"(52.033330, 20.935830)",Fell,83,15500.0,BaszkÃ³wka,L5,52.03333,20.93583,01/01/1994 12:00:00 AM
84,"(45.416670, -98.316670)",Fell,84,21000.0,Bath,H4,45.41667,-98.31667,01/01/1892 12:00:00 AM
85,"(38.250000, -83.750000)",Fell,85,86000.0,Bath Furnace,L6,38.25000,-83.75000,01/01/1902 12:00:00 AM
86,"(40.668130, -117.189130)",Fell,86,2900.0,Battle Mountain,L6,40.66813,-117.18913,01/01/2012 12:00:00 AM
87,"(11.083330, -0.183330)",Fell,87,1557.0,Bawku,LL5,11.08333,-0.18333,01/01/1989 12:00:00 AM
88,"(36.750000, -93.500000)",Fell,88,611.0,Baxter,L6,36.75000,-93.50000,01/01/1916 12:00:00 AM
89,"(39.800000, -101.200000)",Fell,89,16000.0,Beardsley,H5,39.80000,-101.20000,01/01/1929 12:00:00 AM
90,"(51.166670, -117.333330)",Fell,90,14000.0,Beaver Creek,H5,51.16667,-117.33333,01/01/1893 12:00:00 AM
91,"(53.016670, -4.100000)",Fell,91,794.0,Beddgelert,H5,53.01667,-4.10000,01/01/1949 12:00:00 AM
92,"(33.600000, -96.466670)",Fell,92,375.0,Bells,C2-ung,33.60000,-96.46667,01/01/1961 12:00:00 AM
93,"(-32.333330, -64.866670)",Fell,93,0.0,Belville,OC,-32.33333,-64.86667,01/01/1937 12:00:00 AM
94,"(25.366670, 82.916670)",Fell,94,3700.0,Benares (a),LL4,25.36667,82.91667,01/01/1798 12:00:00 AM
95,"(32.250000, -8.150000)",Fell,95,25000.0,Benguerir,LL6,32.25000,-8.15000,01/01/2004 12:00:00 AM
96,"(32.866670, 10.800000)",Fell,96,19000.0,Beni M'hira,L6,32.86667,10.80000,01/01/2001 12:00:00 AM
97,"(39.083330, -89.150000)",Fell,97,1770.5,Benld,H6,39.08333,-89.15000,01/01/1938 12:00:00 AM
98,"(-26.166670, 28.416670)",Fell,98,3880.0,Benoni,H6,-26.16667,28.41667,01/01/1943 12:00:00 AM
99,"(30.000000, -7.000000)",Fell,99,45000.0,Bensour,LL6,30.00000,-7.00000,01/01/2002 12:00:00 AM